<% include ../partials/header %>

  <div class="container " align='center' >
       
      <div class="jumbotron " >
          <center><img src="https://scontent.fbkk12-3.fna.fbcdn.net/v/t1.0-9/27972064_859481077587740_1373283149569203903_n.jpg?_nc_cat=110&_nc_eui2=AeHbK975aME_hfdY3gUtCLcNDQQwbA6NDr0H3bS-XJ3tfDHlWEYxPcDPNP9RkHGy8e8Ok-AenXEMqnE_xzcUVgeLp5LmUjAHGb2eoEDLi0bIdw&_nc_ht=scontent.fbkk12-3.fna&oh=8b6008b6fbb8d99f79be59e1ba3a8694&oe=5C4892B6"width="500"height="500"</center>
           <br>   
          <h2 class="display-3">Natthawarapon Tubtiang</h2>
              <br>
              <p class="lead">Major :Software Engineering</p>
              <p class="lead">Subject :WORKSHOP IN INFORMATION TECHNOLOGY III </p>
              <p class="lead">Faculty :College of Computing </p>
              <p class="lead">Campus :Prince of Songkla University Phuket Campus</p>
              <hr class="my-2">
              
          </div>  
  
  </div>

 <% include ../partials/footer %>