
<% include ../partials/header %>
<div class="container " align='center' >
       
    <div class="jumbotron " >
            <center><img src="https://images.pexels.com/photos/1493370/pexels-photo-1493370.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"width="900"height="400"</center>
            <h1 class="display-3">EJS + Exprees</h1>
            <br>
            <p class="lead">my Project I (FULLSTACK WEB DEVELOPMENT WITH JAVASCRIPT FRAMEWORKS) </p>
            <p class="lead">Subject :WORKSHOP IN INFORMATION TECHNOLOGY III  </p>
            <hr class="my-2">
            <p>About me</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="about" role="button">View</a>
            </p>
        </div>  

</div>

  
 <% include ../partials/footer %>