
<% include ../partials/header %>
<div class="container">
       
    <div class="jumbotron">
            <h1 class="display-3">EJS111</h1>
            <p class="lead">Dynamic content</p>
            <hr class="my-2">
            <p>About me</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="about" role="button">View</a>
            </p>
        </div>  

</div>

   <script>
        $(document).ready(function () {
            var SERVER_URL = " https://mysterious-plateau-91777.herokuapp.com/index";
            $.get(SERVER_URL, function (record) {
							var time = []						
							var diff = record.rows.map(function(n){
									start = new Date(n.start_time)
									end = new Date(n.end_time)
									total = Math.abs(start-end)
									time.push(total)
									console.log(total)
							});

							new Chart(document.getElementById("wordpress"), {
  								type: 'line',
  								data: {
    									labels: record.rows.map(n => n.nodes),
   								 		datasets: [{ 
       							 			data: time ,
        						 			label: "Speed",
        									borderColor: "#3e95cd",
        									fill: false
      										} 
											]
										},
										options: {
										title: {
											display: true,
											text: 'The Time Taken to calculate the complexity'
										},
										scales: {
    									yAxes: [{
      									scaleLabel: {
        									display: true,
        									labelString: 'Time',
													ticks: {
                						fontSize: 40
            							}
      									}
    									}],
											xAxes: [{
												scaleLabel: {
													display: true,
                          labelString: 'Number of Nodes'
												}
											}]
  									}   
									}
								});
																				});
															});



    </script>
    <canvas id="wordpress"></canvas>
 <% include ../partials/footer %>